@if (isLoading) {
<div class="loading-container">
    <div class="spinner-overlay">
        <mat-spinner></mat-spinner>
    </div>
</div>
}
<mat-card>
    <span>Create new account</span>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput placeholder="Username" formControlName="userName">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Password" type="password" formControlName="password">
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword">
        </mat-form-field>
        <br>
        @if (registerForm.errors?.['matchingFields']) {
        <span>
            Passwords don't match
        </span>
        }
        <br>
        <button mat-raised-button color="primary" [disabled]="!registerForm.valid">
            Create new
        </button>
    </form>

</mat-card>